<% content_for :title, "Flights" %>

<%= form_with url: "/flights", method: :get do |f| %>
  <div>
    <%= f.label :departure_airport, "Departure Airport:" %>
    <%= f.select :departure_airport, @departure_options, prompt: true %>
  </div>
  <div>
    <%= f.label :arrival_airport, "Arrival Airport:" %>
    <%= f.select :arrival_airport, @arrival_options, prompt: true %>
  </div>
  <div>
    <%= f.label :num_of_passengers, "Number of Passengers:" %>
    <%= f.select :num_of_passengers, 1..4 %>
  </div>
  <div>
    <%= f.label :start_datetime, "Departure Date:" %>
    <%= f.select :start_datetime, @date_options, prompt: true %>
  </div>
  <%= f.submit "Search" %>
<% end %>

<% if @searched_flights %>
  <%= form_with model: @booking, url: new_booking_path, method: :get do |f| %>
    <%= f.hidden_field :num_of_passengers, value: @num_of_passengers %>
    <% @searched_flights.each do |flight| %>
      <div>
        <%= f.radio_button :flight, flight.id %>
        <%= f.label :flight, "#{flight.departure_airport.airport_code} ->
                              #{flight.arrival_airport.airport_code}" %>
      </div>
    <% end %>
    <%= f.submit "Book" %>
  <% end %>
<% end %>
